In [1]:
import pandas as pd
import numpy as np

In [4]:
Free = pd.read_csv('C:/Users/FX506/Proyect_Dashboard/csv/2023_RSB_DataSet.csv', encoding='ISO-8859-1')

In [5]:
Free

,Ranking,Country,Score,Political Context,Economic Context,Legal Framework,Safety Score,Sociocultural Context,Difference In Position From 2022
0,1,Norway,95.18,96.54,92.46,94.92,95.98,95.98,0
1,2,Ireland,89.91,93.91,82.11,82.55,96.94,94.03,4
2,3,Denmark,89.48,91.95,85.17,87.50,95.00,87.78,-1
3,4,Sweden,88.15,92.58,86.08,88.74,84.72,88.64,-1
4,5,Finland,87.94,91.55,83.80,84.86,90.35,89.17,0
...,...,...,...,...,...,...,...,...,...
175,176,Turkmenistan,25.82,23.25,20.39,29.62,46.53,9.32,1
176,177,Iran,24.81,33.67,30.51,20.17,23.62,16.06,1
177,178,Vietnam,24.58,23.75,17.16,18.40,30.66,32.95,-4
178,179,China,22.97,26.06,29.51,17.36,24.87,17.07,-4
179,180,North Korea,21.72,26.56,21.57,22.64,33.25,4.60,0

In [6]:
Free.info(
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Ranking                           180 non-null    int64
 1   Country                           180 non-null    object
 2   Score                             180 non-null    float64
 3   Political Context                 180 non-null    float64
 4   Economic Context                  180 non-null    float64
 5   Legal Framework                   180 non-null    float64
 6   Safety Score                      180 non-null    float64
 7   Sociocultural Context             180 non-null    float64
 8   Difference In Position From 2022  180 non-null    int64
dtypes: float64(6), int64(2), object(1)
memory usage: 12.8+ KB

In [8]:
Free2 = pd.read_csv('C:/Users/FX506/Proyect_Dashboard/csv/2022_RSB_DataSet.csv', encoding='ISO-8859-1')

In [9]:
Free2

,Ranking,Country,Score,Political Context,Economic Context,Legal Framework,Safety Score,Sociocultural Context
0,1,Norway,92.65,94.89,90.38,92.23,92.03,93.71
1,2,Denmark,90.27,94.34,83.67,89.18,92.97,91.17
2,3,Sweden,88.84,91.96,87.66,90.27,84.14,90.18
3,4,Estonia,88.83,91.11,81.97,87.87,93.20,90.00
4,5,Finland,88.42,90.40,82.03,86.64,92.26,90.77
...,...,...,...,...,...,...,...,...
175,176,Myanmar,25.03,40.40,29.25,20.18,4.63,30.67
176,177,Turkmenistan,25.01,25.00,11.73,29.61,35.69,23.00
177,178,Iran,23.22,34.14,21.32,26.71,13.61,23.78
178,179,Eritrea,19.62,22.22,19.73,25.15,11.36,19.67
179,180,North Korea,13.92,22.42,0.00,22.81,12.38,12.00

In [10]:
Free2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Ranking                180 non-null    int64
 1   Country                180 non-null    object
 2   Score                  180 non-null    float64
 3   Political Context      180 non-null    float64
 4   Economic Context       180 non-null    float64
 5   Legal Framework        180 non-null    float64
 6   Safety Score           180 non-null    float64
 7   Sociocultural Context  180 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 11.4+ KB

In [11]:
Free['Year'] = 2023

In [12]:
Free2['Year'] = 2022

In [13]:
wpi = pd.merge(Free, Free2, on='Country')


(wpi)

,Ranking_x,Country,Score_x,Political Context_x,Economic Context_x,Legal Framework_x,Safety Score_x,Sociocultural Context_x,Difference In Position From 2022,Year_x,Ranking_y,Score_y,Political Context_y,Economic Context_y,Legal Framework_y,Safety Score_y,Sociocultural Context_y,Year_y
0,1,Norway,95.18,96.54,92.46,94.92,95.98,95.98,0,2023,1,92.65,94.89,90.38,92.23,92.03,93.71,2022
1,2,Ireland,89.91,93.91,82.11,82.55,96.94,94.03,4,2023,6,88.30,89.24,79.08,85.09,95.58,92.50,2022
2,3,Denmark,89.48,91.95,85.17,87.50,95.00,87.78,-1,2023,2,90.27,94.34,83.67,89.18,92.97,91.17,2022
3,4,Sweden,88.15,92.58,86.08,88.74,84.72,88.64,-1,2023,3,88.84,91.96,87.66,90.27,84.14,90.18,2022
4,5,Finland,87.94,91.55,83.80,84.86,90.35,89.17,0,2023,5,88.42,90.40,82.03,86.64,92.26,90.77,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,176,Turkmenistan,25.82,23.25,20.39,29.62,46.53,9.32,1,2023,177,25.01,25.00,11.73,29.61,35.69,23.00,2022
167,177,Iran,24.81,33.67,30.51,20.17,23.62,16.06,1,2023,178,23.22,34.14,21.32,26.71,13.61,23.78,2022
168,178,Vietnam,24.58,23.75,17.16,18.40,30.66,32.95,-4,2023,174,26.11,32.32,18.71,27.49,17.37,34.67,2022
169,179,China,22.97,26.06,29.51,17.36,24.87,17.07,-4,2023,175,25.17,27.45,26.02,23.25,15.84,33.30,2022
170,180,North Korea,21.72,26.56,21.57,22.64,33.25,4.60,0,2023,180,13.92,22.42,0.00,22.81,12.38,12.00,2022

In [14]:
wpi.drop_duplicates(inplace=True)

In [15]:
wpi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 0 to 170
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Ranking_x                         171 non-null    int64
 1   Country                           171 non-null    object
 2   Score_x                           171 non-null    float64
 3   Political Context_x               171 non-null    float64
 4   Economic Context_x                171 non-null    float64
 5   Legal Framework_x                 171 non-null    float64
 6   Safety Score_x                    171 non-null    float64
 7   Sociocultural Context_x           171 non-null    float64
 8   Difference In Position From 2022  171 non-null    int64
 9   Year_x                            171 non-null    int64
 10  Ranking_y                         171 non-null    int64
 11  Score_y                           171 non-null    float64
 12  Political Context_y               171 non-null    float64
 13  Economic Context_y                171 non-null    float64
 14  Legal Framework_y                 171 non-null    float64
 15  Safety Score_y                    171 non-null    float64
 16  Sociocultural Context_y           171 non-null    float64
 17  Year_y                            171 non-null    int64
dtypes: float64(12), int64(5), object(1)
memory usage: 25.4+ KB

In [16]:
def replace_x(df):

    for col in df.columns:
        
        new_col = col.replace("_x", " 2023")
        
        df.rename(columns={col: new_col}, inplace=True)
        
    print(df)

In [17]:
def replace_y(df):

    for col in df.columns:
        
        new_col = col.replace("_y", " 2022")
        
        df.rename(columns={col: new_col}, inplace=True)
        
    print(df)

In [18]:
replace_x(wpi)

     Ranking 2023       Country  Score 2023  Political Context 2023  \
0               1        Norway       95.18                   96.54
1               2       Ireland       89.91                   93.91
2               3       Denmark       89.48                   91.95
3               4        Sweden       88.15                   92.58
4               5       Finland       87.94                   91.55
..            ...           ...         ...                     ...
166           176  Turkmenistan       25.82                   23.25
167           177          Iran       24.81                   33.67
168           178       Vietnam       24.58                   23.75
169           179         China       22.97                   26.06
170           180   North Korea       21.72                   26.56

     Economic Context 2023  Legal Framework 2023  Safety Score 2023  \
0                    92.46                 94.92              95.98
1                    82.11                 82.55              96.94
2                    85.17                 87.50              95.00
3                    86.08                 88.74              84.72
4                    83.80                 84.86              90.35
..                     ...                   ...                ...
166                  20.39                 29.62              46.53
167                  30.51                 20.17              23.62
168                  17.16                 18.40              30.66
169                  29.51                 17.36              24.87
170                  21.57                 22.64              33.25

     Sociocultural Context 2023  Difference In Position From 2022  Year 2023  \
0                         95.98                                 0       2023
1                         94.03                                 4       2023
2                         87.78                                -1       2023
3                         88.64                                -1       2023
4                         89.17                                 0       2023
..                          ...                               ...        ...
166                        9.32                                 1       2023
167                       16.06                                 1       2023
168                       32.95                                -4       2023
169                       17.07                                -4       2023
170                        4.60                                 0       2023

     Ranking_y  Score_y  Political Context_y  Economic Context_y  \
0            1    92.65                94.89               90.38
1            6    88.30                89.24               79.08
2            2    90.27                94.34               83.67
3            3    88.84                91.96               87.66
4            5    88.42                90.40               82.03
..         ...      ...                  ...                 ...
166        177    25.01                25.00               11.73
167        178    23.22                34.14               21.32
168        174    26.11                32.32               18.71
169        175    25.17                27.45               26.02
170        180    13.92                22.42                0.00

     Legal Framework_y  Safety Score_y  Sociocultural Context_y  Year_y
0                92.23           92.03                    93.71    2022
1                85.09           95.58                    92.50    2022
2                89.18           92.97                    91.17    2022
3                90.27           84.14                    90.18    2022
4                86.64           92.26                    90.77    2022
..                 ...             ...                      ...     ...
166              29.61           35.69                    23.00    2022
167              26.71           13.61                    23.78    2022
168              27.49           17.37                    34.67    2022
169              23.25           15.84                    33.30    2022
170              22.81           12.38                    12.00    2022

[171 rows x 18 columns]

In [19]:
replace_y(wpi)

     Ranking 2023       Country  Score 2023  Political Context 2023  \
0               1        Norway       95.18                   96.54
1               2       Ireland       89.91                   93.91
2               3       Denmark       89.48                   91.95
3               4        Sweden       88.15                   92.58
4               5       Finland       87.94                   91.55
..            ...           ...         ...                     ...
166           176  Turkmenistan       25.82                   23.25
167           177          Iran       24.81                   33.67
168           178       Vietnam       24.58                   23.75
169           179         China       22.97                   26.06
170           180   North Korea       21.72                   26.56

     Economic Context 2023  Legal Framework 2023  Safety Score 2023  \
0                    92.46                 94.92              95.98
1                    82.11                 82.55              96.94
2                    85.17                 87.50              95.00
3                    86.08                 88.74              84.72
4                    83.80                 84.86              90.35
..                     ...                   ...                ...
166                  20.39                 29.62              46.53
167                  30.51                 20.17              23.62
168                  17.16                 18.40              30.66
169                  29.51                 17.36              24.87
170                  21.57                 22.64              33.25

     Sociocultural Context 2023  Difference In Position From 2022  Year 2023  \
0                         95.98                                 0       2023
1                         94.03                                 4       2023
2                         87.78                                -1       2023
3                         88.64                                -1       2023
4                         89.17                                 0       2023
..                          ...                               ...        ...
166                        9.32                                 1       2023
167                       16.06                                 1       2023
168                       32.95                                -4       2023
169                       17.07                                -4       2023
170                        4.60                                 0       2023

     Ranking 2022  Score 2022  Political Context 2022  Economic Context 2022  \
0               1       92.65                   94.89                  90.38
1               6       88.30                   89.24                  79.08
2               2       90.27                   94.34                  83.67
3               3       88.84                   91.96                  87.66
4               5       88.42                   90.40                  82.03
..            ...         ...                     ...                    ...
166           177       25.01                   25.00                  11.73
167           178       23.22                   34.14                  21.32
168           174       26.11                   32.32                  18.71
169           175       25.17                   27.45                  26.02
170           180       13.92                   22.42                   0.00

     Legal Framework 2022  Safety Score 2022  Sociocultural Context 2022  \
0                   92.23              92.03                       93.71
1                   85.09              95.58                       92.50
2                   89.18              92.97                       91.17
3                   90.27              84.14                       90.18
4                   86.64              92.26                       90.77
..                    ...                ...                         ...
166                 29.61              35.69                       23.00
167                 26.71              13.61                       23.78
168                 27.49              17.37                       34.67
169                 23.25              15.84                       33.30
170                 22.81              12.38                       12.00

     Year 2022
0         2022
1         2022
2         2022
3         2022
4         2022
..         ...
166       2022
167       2022
168       2022
169       2022
170       2022

[171 rows x 18 columns]

In [20]:
wpi

,Ranking 2023,Country,Score 2023,Political Context 2023,Economic Context 2023,Legal Framework 2023,Safety Score 2023,Sociocultural Context 2023,Difference In Position From 2022,Year 2023,Ranking 2022,Score 2022,Political Context 2022,Economic Context 2022,Legal Framework 2022,Safety Score 2022,Sociocultural Context 2022,Year 2022
0,1,Norway,95.18,96.54,92.46,94.92,95.98,95.98,0,2023,1,92.65,94.89,90.38,92.23,92.03,93.71,2022
1,2,Ireland,89.91,93.91,82.11,82.55,96.94,94.03,4,2023,6,88.30,89.24,79.08,85.09,95.58,92.50,2022
2,3,Denmark,89.48,91.95,85.17,87.50,95.00,87.78,-1,2023,2,90.27,94.34,83.67,89.18,92.97,91.17,2022
3,4,Sweden,88.15,92.58,86.08,88.74,84.72,88.64,-1,2023,3,88.84,91.96,87.66,90.27,84.14,90.18,2022
4,5,Finland,87.94,91.55,83.80,84.86,90.35,89.17,0,2023,5,88.42,90.40,82.03,86.64,92.26,90.77,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,176,Turkmenistan,25.82,23.25,20.39,29.62,46.53,9.32,1,2023,177,25.01,25.00,11.73,29.61,35.69,23.00,2022
167,177,Iran,24.81,33.67,30.51,20.17,23.62,16.06,1,2023,178,23.22,34.14,21.32,26.71,13.61,23.78,2022
168,178,Vietnam,24.58,23.75,17.16,18.40,30.66,32.95,-4,2023,174,26.11,32.32,18.71,27.49,17.37,34.67,2022
169,179,China,22.97,26.06,29.51,17.36,24.87,17.07,-4,2023,175,25.17,27.45,26.02,23.25,15.84,33.30,2022
170,180,North Korea,21.72,26.56,21.57,22.64,33.25,4.60,0,2023,180,13.92,22.42,0.00,22.81,12.38,12.00,2022

In [21]:
wpi['Country'].nunique()

171

In [22]:
wpi['Country'].unique()

array(['Norway', 'Ireland', 'Denmark', 'Sweden', 'Finland', 'Netherlands',
       'Lithuania', 'Estonia', 'Portugal', 'Timor-Leste', 'Liechtenstein',
       'Switzerland', 'New Zealand', 'Czech Republic', 'Canada', 'Latvia',
       'Slovakia', 'Iceland', 'Samoa', 'Luxembourg', 'Germany', 'Namibia',
       'Costa Rica', 'France', 'South Africa', 'Australia', 'Moldova',
       'Austria', 'Trinidad and Tobago', 'Belgium', 'Jamaica',
       'Cabo Verde', 'Seychelles', 'Taiwan', 'Spain', 'Andorra',
       'North Macedonia', 'Montenegro', 'Argentina', 'Italy', 'Croatia',
       'Dominican Republic', 'Tonga', 'United States', 'South Korea',
       'Suriname', 'Armenia', 'Slovenia', 'Belize', 'Uruguay', 'Romania',
       'Ivory Coast', 'Cyprus', 'Kosovo', 'Poland', 'Burkina Faso',
       'Papua New Guinea', 'Guyana', 'Niger', 'Ghana', 'Mauritius',
       'Bosnia-Herzegovina', 'Botswana', 'Liberia', 'Lesotho', 'Japan',
       'Panama', 'Togo', 'Bulgaria', 'Hungary', 'Malaysia',
       'Sierra Leone', 'Comoros', 'Georgia', 'Guinea Bissau', 'Ukraine',
       'Ecuador', 'Malawi', 'Chile', 'Malta', 'Guinea', 'Mauritania',
       'Zambia', 'Mongolia', 'Fiji', 'Bhutan', 'Serbia', 'Brazil', 'OECS',
       'Gabon', 'Nepal', 'Albania', 'Israel', 'Maldives', 'Madagascar',
       'Mozambique', 'Paraguay', 'Senegal', 'Qatar', 'Thailand', 'Greece',
       'Indonesia', 'Chad', 'Peru', 'Eswatini', 'Benin', 'Mali',
       'Burundi', 'El Salvador', 'Kenya', 'Bolivia', 'South Sudan',
       'Lebanon', 'Equatorial Guinea', 'Tunisia', 'Kyrgyzstan', 'Nigeria',
       'Democratic Republic of Congo', 'Angola', 'Zimbabwe', 'Guatemala',
       'Mexico', 'Singapore', 'Ethiopia', 'Rwanda', 'Philippines',
       'Uganda', 'Kazakhstan', 'Sri Lanka', 'Algeria', 'Uzbekistan',
       'Cameroon', 'Colombia', 'Hong Kong', 'Somalia', 'Brunei',
       'Tanzania', 'Jordan', 'Cambodia', 'Sudan', 'Libya', 'Pakistan',
       'Azerbaijan', 'Afghanistan', 'Tajikistan', 'Kuwait', 'Oman',
       'Palestine', 'Belarus', 'Nicaragua', 'Venezuela', 'Laos', 'India',
       'Djibouti', 'Bangladesh', 'Russia', 'Egypt', 'Iraq', 'Yemen',
       'Honduras', 'Saudi Arabia', 'Bahrain', 'Cuba', 'Myanmar',
       'Eritrea', 'Syria', 'Turkmenistan', 'Iran', 'Vietnam', 'China',
       'North Korea'], dtype=object)

In [23]:
wpi.value_counts('Country')

Country
Afghanistan      1
Oman             1
New Zealand      1
Nicaragua        1
Niger            1
                ..
Greece           1
Guatemala        1
Guinea           1
Guinea Bissau    1
Zimbabwe         1
Length: 171, dtype: int64

In [24]:
wpi['Country'].head(173)

0            Norway
1           Ireland
2           Denmark
3            Sweden
4           Finland
           ...
166    Turkmenistan
167            Iran
168         Vietnam
169           China
170     North Korea
Name: Country, Length: 171, dtype: object

In [25]:
wpi.groupby('Year 2023')

In [26]:
wpi.count()

Ranking 2023                        171
Country                             171
Score 2023                          171
Political Context 2023              171
Economic Context 2023               171
Legal Framework 2023                171
Safety Score 2023                   171
Sociocultural Context 2023          171
Difference In Position From 2022    171
Year 2023                           171
Ranking 2022                        171
Score 2022                          171
Political Context 2022              171
Economic Context 2022               171
Legal Framework 2022                171
Safety Score 2022                   171
Sociocultural Context 2022          171
Year 2022                           171
dtype: int64

In [27]:
wpi.mean()

C:\Users\FX506\AppData\Local\Temp\ipykernel_2408\1464421390.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  wpi.mean()

Ranking 2023                          90.116959
Score 2023                            58.527485
Political Context 2023                56.873684
Economic Context 2023                 48.781579
Legal Framework 2023                  59.507485
Safety Score 2023                     64.827895
Sociocultural Context 2023            62.689532
Difference In Position From 2022       0.228070
Year 2023                           2023.000000
Ranking 2022                          90.345029
Score 2022                            58.253392
Political Context 2022                57.075029
Economic Context 2022                 45.119649
Legal Framework 2022                  62.636550
Safety Score 2022                     60.419123
Sociocultural Context 2022            66.326491
Year 2022                           2022.000000
dtype: float64

In [28]:
wpi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 0 to 170
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Ranking 2023                      171 non-null    int64
 1   Country                           171 non-null    object
 2   Score 2023                        171 non-null    float64
 3   Political Context 2023            171 non-null    float64
 4   Economic Context 2023             171 non-null    float64
 5   Legal Framework 2023              171 non-null    float64
 6   Safety Score 2023                 171 non-null    float64
 7   Sociocultural Context 2023        171 non-null    float64
 8   Difference In Position From 2022  171 non-null    int64
 9   Year 2023                         171 non-null    int64
 10  Ranking 2022                      171 non-null    int64
 11  Score 2022                        171 non-null    float64
 12  Political Context 2022            171 non-null    float64
 13  Economic Context 2022             171 non-null    float64
 14  Legal Framework 2022              171 non-null    float64
 15  Safety Score 2022                 171 non-null    float64
 16  Sociocultural Context 2022        171 non-null    float64
 17  Year 2022                         171 non-null    int64
dtypes: float64(12), int64(5), object(1)
memory usage: 25.4+ KB

In [29]:
wpi.to_csv('wpi.csv', index=False)

In [31]:
import os

desktop = os.path.join(os.path.join(os.environ['USERPROFILE']), 'Proyect_Dashboard')
wpi.to_csv(os.path.join(desktop, 'wpi.csv'), index=False)